body{
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    padding: 0;
}

/* Esta seccion es de la barra de navegación */

li{
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;
}

.logo{
    margin-top: 8px;
}


.nav {
    background-color: white;
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

.nav .navlink{
    
}

.nav img {
    height: 30px; 
    margin-bottom: 0;
}

.imgperfil img {
    border-radius: 50%;
}

.nav .navlink {
    font-weight: 800;
}

.navlink:hover{
    color: rgb(248, 22, 22);
}

.buscador input{
    border-radius: 20px;
    border: 0;
    width: 800px;
    height: 40px;
    background-color: rgba(79, 76, 76, 0.212);
}

/* aqui empieza la galeria */

.imagen {
    max-width: 100%;
    margin-bottom: 1em;
    border-radius: 20px;
   
}

.container{
    background-color: rgb(255, 255, 255);
    margin-top: 1rem;
    width: 100%;
    columns: 4 200px;
    column-gap: 1rem;
    
}

 .imagen:hover{
    opacity: 0.8;
 }

